
li a
{
   
   
    text-decoration: none;
    
    margin-left: 20px;
    color: white ;
    font-size: 17px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
}
 

.ldiv
{
     
    border-bottom: solid 8px yellow;
    display: inline-block;
    background-color: #5f27cd;
    width:1559px;
    

    
}

 .ulD
 {
    border: 50px;
    border-color: blue;
    height: 10px;

 }

 .ldiv li
 {
    display: inline-block;
    margin-left: 30px ;
 }

  
.base
{
    height: 900px;
    background-color: white;
    border: 10px;
    border-color: green;
}
